#onetrust-consent-sdk {
  display: none;
  opacity: 0% !important;
}

.mfn-row {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-bottom: 0rem;
  padding-bottom: 0em;
  border-bottom: 0px solid rgba(42, 42, 42, 0.44);
}

.mfn-content {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 24rem;
  grid-row-gap: 64rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

.mfn-date {
  order: -1;
  color: white;
  font-size: 12rem;
  padding-bottom: 18rem;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: hsla(0, 0%, 100%, 1);
  margin-bottom: 18rem;
}

.mfn-title {
  line-height: 0.96;
}

.mfn-title a {
  color: white;
  text-decoration: none;
  font-size: 32rem;
  line-height: 100%;
  font-family: Neue Haas Grotesk Display;
  font-weight: 500;
  margin-bottom: 8rem;
}

.mfn-preamble {
  padding-top: 16rem;
  font-size: 16rem;
  line-height: 1.3em;
}

.mfn-tags-list {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.mfn-tag {
  font-size: 12rem;
  color: white;
  background-color: #6b00de;
  padding-left: 10rem;
  padding-right: 10rem;
  padding-top: 8rem;
  padding-bottom: 8rem;
  border-radius: 4rem;
  margin: 0rem;
  margin-bottom: 18rem;
}

.mfn-sub-row img {
  display: none;
}

.mfn-sub-submit {
  background-color: #6b00de;
}

@media only screen and (max-width: 991px) {
  .mfn-content {
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 24rem;
    grid-row-gap: 64rem;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .mfn-title a {
    font-size: 24rem;
    line-height: 0.96;
  }
}

.highcharts-tooltip text {
  color: black !important;
}

/* table */

.mf-table {
  font-size: 14rem;
  width: 100%;
}

.mf-table th {
  padding-top: 12rem;
  padding-bottom: 12rem;
  padding-left: 32rem;
  padding-right: 8rem;
  max-width: 50rem;
}

.mf-table tr {
  border-bottom-color: #f0f0f5;
  padding-left: 8rem;
  padding-right: 8rem;
}

.mf-table thead tr {
  border-bottom-color: black;
  position: sticky;
  top: 80rem;
  background-color: white;
}

.mf-table thead tr:hover {
  background-color: white !important;
}

.mf-table tr:hover {
  background-color: #f9f3ff;
}

.mf-table td {
  padding-top: 16rem;
  padding-bottom: 16rem;
  padding-left: 8rem;
  padding-right: 8rem;
}

.mf-table td:nth-child(1) {
  max-width: 190rem;
}

.blank-row {
  height: 40rem;
  border-bottom-color: black !important;
}

.blank-row:hover {
  background-color: transparent !important;
}

#mfn-owner-list tr {
  border-bottom-color: transparent;
}

@media only screen and (max-width: 991px) {
  .mf-table {
    font-size: 12rem;
    width: 824rem;
    padding-right: 24rem;
  }

  .mf-table th {
    padding-left: 8rem;
  }

  .mf-table thead tr {
    position: relative;
    top: 0rem;
    background-color: white;
  }

  .mf-table td:nth-child(1) {
    max-width: 160rem;
  }

  .blank-row {
    height: 48rem;
  }
}

/* graphs */

rect {
  stroke: transparent;
}

#kpi-dashboard {
  font-size: 16em;
}

.mf-kpi-dashboard-name {
  font-weight: 500;
}
